.listCards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.p {
    font-size: x-large;
    font-weight: bolder;
    margin-bottom: 1rem;
    color: white;
}

.name {
    color: white;
}