.link {
    text-decoration: none;
    font-size: x-large;
    font-style: italic;
    border: 1px solid black;
    background-color: greenyellow;
    padding: 8px;
    border-radius: 8px;
    transition: 0.5s;

    &:hover {
        color: black;
        background-color: dodgerblue;
        border: 1px solid black;
    }

    &::after {
        content: '...';
    }
}

.deckOfCards {
    width: 100%;
    padding: 10px 5%;
}

.listCards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.cardBody {
    align-items: center;
    border: 1px solid black;
}

.gameName {
    color: white;
}

.gamePrice {
    color: white;
}

.gameComingIn {
    color: white;
}