.link {
    text-decoration: none;
    font-size: x-large;
    font-style: italic;
    border: 1px solid black;
    background-color: greenyellow;
    padding: 8px;
    border-radius: 8px;
    transition: 0.5s;

    &:hover {
        color: black;
        background-color: dodgerblue;
        border: 1px solid black;
    }
}

.gameImg {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    max-width: 100%;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.cardBody {
    align-items: center;
    border: 1px solid black;
}

.gameName {
    color: white;
}

.gamePrice {
    color: white;
}

.gameComingIn {
    color: white;
}

.myComponent {
    background-color: rgba(10, 8, 58, 0.913);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.askToChoose {
    font-size: large;
    font-weight: bolder;
    margin: 100px;
    color: white;
}

.p {
    font-size: medium;
    font-weight: bolder;
    margin-bottom: 1rem;
    color: white;
}