.link {
    text-decoration: none;
    font-size: x-large;
    font-style: italic;
    border: 1px solid black;
    background-color: greenyellow;
    padding: 8px;
    border-radius: 8px;
    transition: 0.5s;

    &:hover {
        color: black;
        background-color: dodgerblue;
        border: 1px solid black;
    }

    &::after {
        content: '...';
    }
}

.deckOfCards {
    width: 100%;
    padding: 10px 5%;
    margin: 2px;
}

.cardBody {
    align-items: center;
    border: 1px solid black;
}

.gameName {
    color: white;
}

.gamePrice {
    color: white;
}

.gameComingIn {
    color: white;
}

.my-component {
    background-color: rgba(10, 8, 58, 0.913);
}