.text {
    color: white;
    text-align: center;
}

.p {
    font-size: x-large;
    font-weight: bolder;
    margin-bottom: 1rem;
    color: white;
}

.myComponent {
    background-color: rgba(10, 8, 58, 0.913);
}