.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(222, 228, 228);

    a {
        text-decoration: none;
        padding: 8px;
        margin: 30px;
        border: 1px solid dodgerblue;
        border-radius: 8px;
        transition: 0.5s;

        &:hover {
            color: white;
            background-color: dodgerblue;
            border: 1px solid white;
        }
    }

    .active {
        color: white;
        background-color: dodgerblue;
        border: 1px solid white;
    }
}

.spacer {
    flex-grow: 1;
}